# On this notebook the test and training sets will be defined.

In [1]:
# Basic imports
import os
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import datetime as dt
import scipy.optimize as spo
import sys

%matplotlib inline

%pylab inline
pylab.rcParams['figure.figsize'] = (20.0, 10.0)

%load_ext autoreload
%autoreload 2

sys.path.append('../')

Populating the interactive namespace from numpy and matplotlib

## Let's test the scikit learn example for TimeSeriesSplit (with some modifications)

In [2]:
from sklearn.model_selection import TimeSeriesSplit
num_samples = 30
dims = 2

X = np.random.random((num_samples,dims))
y = np.array(range(num_samples))
tscv = TimeSeriesSplit(n_splits=3)
print(tscv)  
TimeSeriesSplit(n_splits=3)
for train_index, test_index in tscv.split(X):
    print("TRAIN_indexes:", train_index, "TEST_indexes:", test_index)
    X_train, X_test = X[train_index], X[test_index]
    y_train, y_test = y[train_index], y[test_index]

TimeSeriesSplit(n_splits=3)
TRAIN_indexes: [0 1 2 3 4 5 6 7 8] TEST_indexes: [ 9 10 11 12 13 14 15]
TRAIN_indexes: [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15] TEST_indexes: [16 17 18 19 20 21 22]
TRAIN_indexes: [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22] TEST_indexes: [23 24 25 26 27 28 29]

### It may be useful for validation purposes. The test set will be separated before, anyway. The criterion to follow is to always keep causality.

## Let's get the data and preserve one part as the test set.

Note: The way the test set will be used, is still not defined. Also, the definition of X and y may depend on the length of the base time interval used for training. But, in any case, it is a good practise to separate a fraction of the data for test, that will be untouched regardless of all those decisions.

In [4]:
data_df = pd.read_pickle('../../data/data_df.pkl')
print(data_df.shape)
data_df.head(10)

(30120, 503)

                           SPY         MMM         ABT  ABBV  ACN  ATVI  AYI  \
date       feature
1993-01-29 Open           0.00        0.00        0.00   NaN  NaN   NaN  NaN
           High          43.97       24.62        6.88   NaN  NaN   NaN  NaN
           Low           43.75       24.47        6.75   NaN  NaN   NaN  NaN
           Close         43.94       24.50        6.88   NaN  NaN   NaN  NaN
           Volume   1003200.00  1242800.00  4638400.00   NaN  NaN   NaN  NaN
1993-02-01 Open           0.00        0.00        0.00   NaN  NaN   NaN  NaN
           High          44.25       24.69        6.97   NaN  NaN   NaN  NaN
           Low           43.97       24.47        6.78   NaN  NaN   NaN  NaN
           Close         44.25       24.69        6.88   NaN  NaN   NaN  NaN
           Volume    480500.00   749600.00  4450400.00   NaN  NaN   NaN  NaN

                          ADBE        AMD  AAP ...        XEL         XRX  \
date       feature                             ...
1993-01-29 Open           0.00       0.00  NaN ...       0.00        0.00
           High           2.64      19.12  NaN ...      22.00       14.32
           Low            2.56      18.62  NaN ...      21.88       13.84
           Close          2.59      18.75  NaN ...      22.00       14.28
           Volume   4990400.00  730600.00  NaN ...   87800.00  7633602.00
1993-02-01 Open           0.00       0.00  NaN ...       0.00        0.00
           High           2.75      19.25  NaN ...      22.19       14.24
           Low            2.53      18.50  NaN ...      21.94       14.07
           Close          2.72      19.12  NaN ...      22.19       14.09
           Volume   8670400.00  750300.00  NaN ...   72400.00  3001200.00

                          XLNX  XL  XYL  YHOO  YUM  ZBH      ZION  ZTS
date       feature
1993-01-29 Open           0.00 NaN  NaN   NaN  NaN  NaN      0.00  NaN
           High           2.50 NaN  NaN   NaN  NaN  NaN     10.94  NaN
           Low            2.46 NaN  NaN   NaN  NaN  NaN     10.62  NaN
           Close          2.50 NaN  NaN   NaN  NaN  NaN     10.94  NaN
           Volume   1745196.00 NaN  NaN   NaN  NaN  NaN  33600.00  NaN
1993-02-01 Open           0.00 NaN  NaN   NaN  NaN  NaN      0.00  NaN
           High           2.62 NaN  NaN   NaN  NaN  NaN     11.25  NaN
           Low            2.46 NaN  NaN   NaN  NaN  NaN     10.75  NaN
           Close          2.62 NaN  NaN   NaN  NaN  NaN     11.06  NaN
           Volume   3574800.00 NaN  NaN   NaN  NaN  NaN  32000.00  NaN

[10 rows x 503 columns]

### I will save about two years worth of data for the test set (it wouldn't be correct to save a fixed fraction of the total set because the size of the "optimal" training set is still to be defined; I may end up using much less than the total dataset).

In [5]:
num_test_samples = 252 * 2

data_train_val_df, data_test_df = data_df.unstack().iloc[:-num_test_samples], data_df.unstack().iloc[-num_test_samples:]

In [6]:
def show_df_basic(df):
    print(df.shape)
    print('Starting value: %s\nEnding value: %s' % (df.index.get_level_values(0)[0], df.index.get_level_values(0)[-1]))
    print(df.head())

In [7]:
show_df_basic(data_train_val_df)

(5520, 2515)
Starting value: 1993-01-29 00:00:00
Ending value: 2014-12-31 00:00:00
              SPY                                  MMM                     \
feature     Close   High    Low Open     Volume  Close   High    Low Open
date
1993-01-29  43.94  43.97  43.75  0.0  1003200.0  24.50  24.62  24.47  0.0
1993-02-01  44.25  44.25  43.97  0.0   480500.0  24.69  24.69  24.47  0.0
1993-02-02  44.34  44.38  44.12  0.0   201300.0  24.72  24.88  24.69  0.0
1993-02-03  44.81  44.84  44.38  0.0   529400.0  25.19  25.41  24.88  0.0
1993-02-04  45.00  45.09  44.88  0.0   531500.0  26.06  26.47  25.88  0.0

                       ...     ZION                                ZTS       \
feature        Volume  ...    Close   High    Low Open    Volume Close High
date                   ...
1993-01-29  1242800.0  ...    10.94  10.94  10.62  0.0   33600.0   NaN  NaN
1993-02-01   749600.0  ...    11.06  11.25  10.75  0.0   32000.0   NaN  NaN
1993-02-02  1233600.0  ...    11.12  11.12  10.88  0.0  251600.0   NaN  NaN
1993-02-03  2900400.0  ...    11.25  11.28  10.88  0.0  254800.0   NaN  NaN
1993-02-04  4122400.0  ...    11.69  11.75  11.44  0.0  317200.0   NaN  NaN


feature    Low Open Volume
date
1993-01-29 NaN  NaN    NaN
1993-02-01 NaN  NaN    NaN
1993-02-02 NaN  NaN    NaN
1993-02-03 NaN  NaN    NaN
1993-02-04 NaN  NaN    NaN

[5 rows x 2515 columns]

In [8]:
show_df_basic(data_test_df)

(504, 2515)
Starting value: 2015-01-02 00:00:00
Ending value: 2016-12-30 00:00:00
               SPY                                          MMM          \
feature      Close    High     Low    Open       Volume   Close    High
date
2015-01-02  205.43  206.88  204.18  206.38  121465865.0  164.06  165.08
2015-01-05  201.72  204.37  201.35  204.17  169632646.0  160.36  163.64
2015-01-06  199.82  202.72  198.86  202.09  209151408.0  158.65  161.37
2015-01-07  202.31  202.72  200.88  201.42  125346709.0  159.80  160.28
2015-01-08  205.90  206.16  203.99  204.01  147217784.0  163.63  163.69

                                         ...       ZION                       \
feature        Low    Open     Volume    ...      Close   High    Low   Open
date                                     ...
2015-01-02  162.73  164.71  2117562.0    ...      28.29  28.72  28.06  28.67
2015-01-05  160.08  163.00  3692901.0    ...      27.23  28.23  27.17  28.23
2015-01-06  157.74  160.82  3537144.0    ...      26.19  27.33  25.98  27.20
2015-01-07  158.94  159.90  3081291.0    ...      26.44  26.68  26.10  26.42
2015-01-08  160.52  160.65  3149592.0    ...      26.81  26.95  26.59  26.70

                         ZTS
feature        Volume  Close   High    Low   Open     Volume
date
2015-01-02  2299118.0  43.31  43.70  43.06  43.46  1784851.0
2015-01-05  5326879.0  43.05  43.63  42.97  43.25  3116681.0
2015-01-06  9096223.0  42.63  43.36  42.30  43.15  3987015.0
2015-01-07  2759850.0  43.51  43.56  42.98  43.00  2481935.0
2015-01-08  1831484.0  44.18  44.87  44.00  44.75  3121258.0

[5 rows x 2515 columns]

### I could select the Close values, for example, like below...

In [9]:
data_test_df.loc[slice(None),(slice(None),'Close')].head()

,SPY,MMM,ABT,ABBV,ACN,ATVI,AYI,ADBE,AMD,AAP,...,XEL,XRX,XLNX,XL,XYL,YHOO,YUM,ZBH,ZION,ZTS
feature,Close,Close,Close,Close,Close,Close,Close,Close,Close,Close,...,Close,Close,Close,Close,Close,Close,Close,Close,Close,Close
date,,,,,,,,,,,,,,,,,,,,,
2015-01-02,205.43,164.06,44.90,65.89,88.84,20.13,139.88,72.34,NaN,158.56,...,36.12,13.75,43.60,NaN,38.08,50.17,72.35,112.59,28.29,43.31
2015-01-05,201.72,160.36,44.91,64.65,87.34,19.85,136.52,71.98,2.66,156.47,...,35.71,13.45,42.80,NaN,35.71,49.13,70.88,116.79,27.23,43.05
2015-01-06,199.82,158.65,44.40,64.33,86.71,19.48,134.81,70.53,2.63,156.36,...,35.90,13.27,42.18,NaN,35.50,49.21,70.01,115.80,26.19,42.63
2015-01-07,202.31,159.80,44.76,66.93,88.53,19.06,137.20,71.11,2.58,159.72,...,36.21,13.44,42.20,NaN,35.78,48.59,72.33,118.68,26.44,43.51
2015-01-08,205.90,163.63,45.68,67.63,89.88,19.25,142.00,72.92,2.61,161.12,...,36.63,13.81,43.14,NaN,36.05,50.23,73.59,119.94,26.81,44.18

### Or like this...

In [10]:
data_test_df.xs('Close', level=1, axis=1).head()

,SPY,MMM,ABT,ABBV,ACN,ATVI,AYI,ADBE,AMD,AAP,...,XEL,XRX,XLNX,XL,XYL,YHOO,YUM,ZBH,ZION,ZTS
date,,,,,,,,,,,,,,,,,,,,,
2015-01-02,205.43,164.06,44.90,65.89,88.84,20.13,139.88,72.34,NaN,158.56,...,36.12,13.75,43.60,NaN,38.08,50.17,72.35,112.59,28.29,43.31
2015-01-05,201.72,160.36,44.91,64.65,87.34,19.85,136.52,71.98,2.66,156.47,...,35.71,13.45,42.80,NaN,35.71,49.13,70.88,116.79,27.23,43.05
2015-01-06,199.82,158.65,44.40,64.33,86.71,19.48,134.81,70.53,2.63,156.36,...,35.90,13.27,42.18,NaN,35.50,49.21,70.01,115.80,26.19,42.63
2015-01-07,202.31,159.80,44.76,66.93,88.53,19.06,137.20,71.11,2.58,159.72,...,36.21,13.44,42.20,NaN,35.78,48.59,72.33,118.68,26.44,43.51
2015-01-08,205.90,163.63,45.68,67.63,89.88,19.25,142.00,72.92,2.61,161.12,...,36.63,13.81,43.14,NaN,36.05,50.23,73.59,119.94,26.81,44.18

### But I think it will be more clear if I swap the levels in the columns

In [11]:
data_train_val_df = data_train_val_df.swaplevel(0, 1, axis=1).stack().unstack()
show_df_basic(data_train_val_df)
data_test_df = data_test_df.swaplevel(0, 1, axis=1).stack().unstack()
show_df_basic(data_test_df)

(5520, 2415)
Starting value: 1993-01-29 00:00:00
Ending value: 2014-12-31 00:00:00
feature     Close                                                 ... Volume  \
              SPY    MMM   ABT ABBV ACN ATVI AYI  ADBE    AMD AAP ...   WYNN
date                                                              ...
1993-01-29  43.94  24.50  6.88  NaN NaN  NaN NaN  2.59  18.75 NaN ...    NaN
1993-02-01  44.25  24.69  6.88  NaN NaN  NaN NaN  2.72  19.12 NaN ...    NaN
1993-02-02  44.34  24.72  6.53  NaN NaN  NaN NaN  2.84  20.25 NaN ...    NaN
1993-02-03  44.81  25.19  6.91  NaN NaN  NaN NaN  2.70  20.50 NaN ...    NaN
1993-02-04  45.00  26.06  6.84  NaN NaN  NaN NaN  2.73  20.12 NaN ...    NaN

feature
                 XEL        XRX       XLNX XYL YHOO YUM ZBH      ZION ZTS
date
1993-01-29   87800.0  7633602.0  1745196.0 NaN  NaN NaN NaN   33600.0 NaN
1993-02-01   72400.0  3001200.0  3574800.0 NaN  NaN NaN NaN   32000.0 NaN
1993-02-02  242200.0  1388598.0  2652396.0 NaN  NaN NaN NaN  251600.0 NaN
1993-02-03  272200.0  1228200.0  5040396.0 NaN  NaN NaN NaN  254800.0 NaN
1993-02-04  162800.0  1675602.0  7033200.0 NaN  NaN NaN NaN  317200.0 NaN

[5 rows x 2415 columns]
(504, 2495)
Starting value: 2015-01-02 00:00:00
Ending value: 2016-12-30 00:00:00
feature      Close                                                           \
               SPY     MMM    ABT   ABBV    ACN   ATVI     AYI   ADBE   AMD
date
2015-01-02  205.43  164.06  44.90  65.89  88.84  20.13  139.88  72.34   NaN
2015-01-05  201.72  160.36  44.91  64.65  87.34  19.85  136.52  71.98  2.66
2015-01-06  199.82  158.65  44.40  64.33  86.71  19.48  134.81  70.53  2.63
2015-01-07  202.31  159.80  44.76  66.93  88.53  19.06  137.20  71.11  2.58
2015-01-08  205.90  163.63  45.68  67.63  89.88  19.25  142.00  72.92  2.61

feature               ...         Volume                                       \
               AAP    ...            XEL        XRX       XLNX  XL        XYL
date                  ...
2015-01-02  158.56    ...      2535289.0  3912022.0  2402443.0 NaN   606118.0
2015-01-05  156.47    ...      3107187.0  7032861.0  2611059.0 NaN  1369903.0
2015-01-06  156.36    ...      4749648.0  7170289.0  3430462.0 NaN  1336249.0
2015-01-07  159.72    ...      2833770.0  4836408.0  2110610.0 NaN  1039030.0
2015-01-08  161.12    ...      2516764.0  6229982.0  2824232.0 NaN   821836.0

feature
                  YHOO        YUM        ZBH       ZION        ZTS
date
2015-01-02  11924473.0  1641557.0   909491.0  2299118.0  1784851.0
2015-01-05  14389308.0  3176619.0  2163761.0  5326879.0  3116681.0
2015-01-06  16204304.0  3597727.0  1782098.0  9096223.0  3987015.0
2015-01-07  11788031.0  3273992.0  1462026.0  2759850.0  2481935.0
2015-01-08  14704771.0  3061324.0  1408433.0  1831484.0  3121258.0

[5 rows x 2495 columns]

## Now it's very easy to select one of the features:

In [12]:
data_train_val_df['Close']

,SPY,MMM,ABT,ABBV,ACN,ATVI,AYI,ADBE,AMD,AAP,...,WYNN,XEL,XRX,XLNX,XYL,YHOO,YUM,ZBH,ZION,ZTS
date,,,,,,,,,,,,,,,,,,,,,
1993-01-29,43.94,24.50,6.88,NaN,NaN,NaN,NaN,2.59,18.75,NaN,...,NaN,22.00,14.28,2.50,NaN,NaN,NaN,NaN,10.94,NaN
1993-02-01,44.25,24.69,6.88,NaN,NaN,NaN,NaN,2.72,19.12,NaN,...,NaN,22.19,14.09,2.62,NaN,NaN,NaN,NaN,11.06,NaN
1993-02-02,44.34,24.72,6.53,NaN,NaN,NaN,NaN,2.84,20.25,NaN,...,NaN,22.06,14.09,2.64,NaN,NaN,NaN,NaN,11.12,NaN
1993-02-03,44.81,25.19,6.91,NaN,NaN,NaN,NaN,2.70,20.50,NaN,...,NaN,22.38,14.03,2.68,NaN,NaN,NaN,NaN,11.25,NaN
1993-02-04,45.00,26.06,6.84,NaN,NaN,NaN,NaN,2.73,20.12,NaN,...,NaN,22.81,14.15,2.67,NaN,NaN,NaN,NaN,11.69,NaN
1993-02-05,44.97,27.19,6.88,NaN,NaN,NaN,NaN,2.60,19.62,NaN,...,NaN,22.56,14.38,2.52,NaN,NaN,NaN,NaN,11.75,NaN
1993-02-08,44.97,27.25,6.66,NaN,NaN,NaN,NaN,2.62,19.75,NaN,...,NaN,22.56,14.55,2.49,NaN,NaN,NaN,NaN,11.81,NaN
1993-02-09,44.66,27.25,6.84,NaN,NaN,NaN,NaN,2.59,19.75,NaN,...,NaN,22.44,14.40,2.41,NaN,NaN,NaN,NaN,11.56,NaN
1993-02-10,44.72,27.31,6.88,NaN,NaN,NaN,NaN,2.56,19.75,NaN,...,NaN,22.56,14.49,2.44,NaN,NaN,NaN,NaN,11.62,NaN
1993-02-11,44.94,26.94,6.94,NaN,NaN,NaN,NaN,2.62,21.00,NaN,...,NaN,22.69,14.40,2.50,NaN,NaN,NaN,NaN,11.44,NaN
1993-02-12,44.59,26.81,7.00,NaN,NaN,NaN,NaN,2.54,21.38,NaN,...,NaN,22.81,14.17,2.50,NaN,NaN,NaN,NaN,11.62,NaN
1993-02-16,43.47,26.31,6.66,NaN,NaN,NaN,NaN,2.52,19.75,NaN,...,NaN,22.75,13.92,2.34,NaN,NaN,NaN,NaN,10.94,NaN
1993-02-17,43.44,25.94,6.44,NaN,NaN,NaN,NaN,2.58,20.38,NaN,...,NaN,22.75,13.69,2.29,NaN,NaN,NaN,NaN,10.53,NaN
1993-02-18,43.41,25.75,6.25,NaN,NaN,NaN,NaN,2.64,21.12,NaN,...,NaN,22.62,13.65,2.36,NaN,NaN,NaN,NaN,10.38,NaN
1993-02-19,43.56,26.22,6.06,NaN,NaN,NaN,NaN,2.73,22.12,NaN,...,NaN,22.94,13.82,2.44,NaN,NaN,NaN,NaN,10.69,NaN
1993-02-22,43.72,26.16,5.81,NaN,NaN,NaN,NaN,2.63,21.75,NaN,...,NaN,23.31,13.69,2.52,NaN,NaN,NaN,NaN,10.75,NaN
1993-02-23,43.69,26.06,6.06,NaN,NaN,NaN,NaN,2.55,21.38,NaN,...,NaN,23.38,13.49,2.48,NaN,NaN,NaN,NaN,10.94,NaN
1993-02-24,44.25,26.31,6.50,NaN,NaN,NaN,NaN,2.66,22.00,NaN,...,NaN,23.44,13.65,2.50,NaN,NaN,NaN,NaN,11.50,NaN
1993-02-25,44.34,26.09,6.59,NaN,NaN,NaN,NaN,2.78,22.12,NaN,...,NaN,23.44,13.67,2.53,NaN,NaN,NaN,NaN,11.56,NaN
1993-02-26,44.41,26.38,6.53,NaN,NaN,NaN,NaN,2.79,21.75,NaN,...,NaN,23.38,13.78,2.56,NaN,NaN,NaN,NaN,11.56,NaN
1993-03-01,44.28,26.06,6.47,NaN,NaN,NaN,NaN,2.69,21.25,NaN,...,NaN,23.38,13.80,2.52,NaN,NaN,NaN,NaN,11.44,NaN
1993-03-02,44.94,26.47,6.50,NaN,NaN,NaN,NaN,2.75,22.25,NaN,...,NaN,23.44,13.97,2.75,NaN,NaN,NaN,NaN,11.50,NaN
1993-03-03,45.12,26.25,6.41,NaN,NaN,NaN,NaN,2.80,22.88,NaN,...,NaN,23.50,14.03,2.82,NaN,NaN,NaN,NaN,11.38,NaN
1993-03-04,44.88,26.47,6.38,NaN,NaN,NaN,NaN,2.75,22.62,NaN,...,NaN,23.44,13.82,2.93,NaN,NaN,NaN,NaN,11.25,NaN
1993-03-05,44.75,26.75,6.38,NaN,NaN,NaN,NaN,2.80,23.25,NaN,...,NaN,23.25,13.78,3.03,NaN,NaN,NaN,NaN,11.03,NaN
1993-03-08,45.75,27.34,6.59,NaN,NaN,NaN,NaN,2.90,24.00,NaN,...,NaN,23.31,14.13,2.97,NaN,NaN,NaN,NaN,11.00,NaN
1993-03-09,45.59,27.34,6.31,NaN,NaN,NaN,NaN,2.83,23.62,NaN,...,NaN,23.25,14.09,2.93,NaN,NaN,NaN,NaN,11.38,NaN
1993-03-10,45.69,27.41,6.59,NaN,NaN,NaN,NaN,2.86,23.62,NaN,...,NaN,23.38,14.17,2.98,NaN,NaN,NaN,NaN,11.44,NaN
1993-03-11,45.56,27.25,6.56,NaN,NaN,NaN,NaN,2.80,23.75,NaN,...,NaN,23.44,14.05,3.12,NaN,NaN,NaN,NaN,11.75,NaN
1993-03-12,45.09,27.12,6.66,NaN,NaN,NaN,NaN,2.86,23.75,NaN,...,NaN,23.38,13.78,3.02,NaN,NaN,NaN,NaN,11.31,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014-11-18,205.55,160.15,43.70,66.05,84.30,20.01,138.62,70.83,2.65,146.24,...,182.08,33.72,13.63,44.32,38.21,51.75,74.19,111.50,29.00,44.19
2014-11-19,205.22,158.83,43.43,65.50,83.64,19.57,138.82,70.82,2.63,144.74,...,180.02,33.57,13.43,44.24,37.34,50.58,73.97,110.55,28.68,43.40
2014-11-20,205.58,159.36,43.78,65.19,83.44,21.11,141.53,70.44,2.69,145.19,...,177.85,33.56,13.54,44.25,37.46,51.25,75.51,110.12,28.99,43.15
2014-11-21,206.68,160.16,43.81,67.36,84.08,21.17,141.57,71.32,2.77,145.49,...,179.64,33.68,13.58,44.78,38.25,51.04,75.86,110.48,29.18,43.87
2014-11-24,207.26,159.88,44.32,67.78,84.93,21.30,142.51,71.22,2.83,145.58,...,180.22,33.38,13.68,44.67,38.40,51.83,76.39,110.08,29.33,44.58
2014-11-25,207.11,158.06,44.16,68.06,85.32,21.73,141.46,72.00,2.83,145.45,...,178.01,33.33,13.76,44.39,38.39,51.72,76.29,111.08,29.02,43.91
2014-11-26,207.64,158.31,44.25,68.70,85.15,21.82,141.07,72.98,2.84,145.71,...,177.06,33.50,13.89,45.49,38.54,51.93,76.75,111.63,28.89,44.67
2014-11-28,207.20,160.09,44.51,69.20,86.33,21.65,138.20,73.68,2.79,147.08,...,178.61,33.94,13.96,45.44,38.34,51.74,77.25,112.29,28.06,44.93
2014-12-01,205.76,158.16,44.32,69.11,86.00,21.05,137.03,73.75,2.67,147.07,...,174.50,34.27,13.83,45.29,38.44,50.10,77.38,111.47,27.26,44.37
2014-12-02,207.08,160.60,45.22,69.27,85.98,21.14,138.18,73.47,2.68,148.48,...,174.25,34.66,13.84,45.81,38.02,50.67,78.36,114.43,27.53,44.74
2014-12-03,207.89,162.26,45.68,68.50,86.52,21.48,139.75,73.18,2.74,152.04,...,169.57,34.78,14.21,46.85,38.89,50.28,77.64,113.65,27.86,44.88
2014-12-04,207.66,162.26,45.49,69.57,86.34,21.77,140.74,73.03,2.69,153.25,...,162.92,34.81,14.20,46.90,38.57,50.41,77.73,113.96,27.82,44.00
2014-12-05,208.00,162.27,45.30,69.71,86.19,21.79,140.23,72.40,2.66,154.18,...,163.90,34.53,14.32,47.16,38.59,50.99,78.30,114.96,28.60,43.98
2014-12-08,206.61,160.93,45.71,69.42,84.97,20.92,137.68,72.05,2.58,153.68,...,157.59,34.89,14.06,46.90,37.82,49.62,76.46,114.85,28.49,44.10
2014-12-09,206.47,160.83,45.44,69.14,85.18,20.97,137.67,71.56,2.59,158.25,...,156.63,35.02,13.97,47.20,38.12,50.51,75.22,113.73,28.28,43.82
2014-12-10,203.16,158.24,44.37,67.58,83.73,20.49,133.07,69.85,2.48,157.24,...,146.75,34.67,13.60,46.40,36.84,49.20,70.53,111.51,27.52,42.77
2014-12-11,204.19,159.15,44.46,67.03,83.88,20.34,131.75,69.74,2.49,159.16,...,148.88,34.99,13.77,46.04,36.98,49.94,72.02,113.24,27.41,42.88
2014-12-12,200.89,157.12,43.69,65.27,81.90,19.90,129.92,76.02,2.52,160.25,...,147.48,34.63,13.43,45.16,36.20,50.24,72.85,111.34,26.98,41.77
2014-12-15,199.51,156.85,43.46,65.62,81.88,20.02,129.17,73.04,2.47,161.01,...,145.16,34.25,13.34,44.16,36.24,49.82,70.63,110.26,26.82,41.74
2014-12-16,197.91,159.05,43.40,65.25,82.87,19.38,128.36,72.32,2.50,157.01,...,140.52,34.22,13.35,43.70,36.27,48.85,69.02,108.79,26.74,40.85
2014-12-17,201.79,160.60,44.26,66.57,85.30,19.67,132.98,74.00,2.55,159.55,...,138.97,34.75,13.46,43.42,36.91,50.12,70.60,111.92,27.45,41.13
2014-12-18,206.78,165.30,45.77,67.92,89.74,20.04,137.17,74.89,2.55,160.74,...,145.10,35.35,13.89,43.71,38.10,50.91,71.74,114.94,28.20,43.15
2014-12-19,206.52,165.48,46.05,67.71,90.51,20.25,137.38,74.45,2.57,159.85,...,150.11,35.40,13.96,43.00,38.59,50.88,71.17,114.91,28.39,43.51
2014-12-22,207.47,167.27,46.37,66.97,91.18,20.30,140.05,74.50,2.66,159.44,...,147.48,35.65,13.97,43.87,38.74,51.15,72.46,115.05,28.18,43.41
2014-12-23,207.75,166.87,45.72,64.35,91.42,20.23,139.48,74.38,2.67,161.19,...,151.69,35.43,14.07,43.91,38.72,50.02,72.68,113.47,28.53,42.97
2014-12-24,207.77,166.96,45.70,66.21,91.32,20.35,139.94,74.74,2.65,160.23,...,150.90,36.23,14.08,44.08,38.76,50.65,72.79,114.11,28.52,43.84
2014-12-26,208.44,166.26,45.85,66.98,91.26,20.42,139.66,74.67,2.65,160.00,...,150.37,36.58,14.14,43.92,38.95,50.86,73.14,114.17,28.56,44.20
2014-12-29,208.72,166.71,45.60,67.14,90.52,20.36,139.88,74.13,2.66,161.22,...,153.00,37.25,14.14,43.79,38.86,50.53,73.56,113.50,28.72,44.01
2014-12-30,207.60,165.84,45.69,66.30,90.19,20.24,141.20,73.08,2.63,160.03,...,151.20,36.38,14.01,43.55,38.43,51.22,73.28,114.57,28.67,43.35
2014-12-31,205.54,164.32,45.02,65.44,89.31,20.15,140.07,72.70,2.67,159.28,...,148.76,35.92,13.86,43.29,38.07,50.51,72.85,113.42,28.51,43.03

## Let's pickle the data

In [14]:
data_train_val_df.to_pickle('../../data/data_train_val_df.pkl')
data_test_df.to_pickle('../../data/data_test_df.pkl')

## No validation set will be needed as I will use "time" cross-validation for that.